html, body {
    height: 100%;

}

#quill {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(20, 0, 0, 0.8) 100%), url('../img/Quill.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 50px;
    height: 100%;
    text-align: center;
    color: white;
    font-family: 'Cinzel', sans-serif;
    padding: 25%;


}

#quill section {
        font-family: 'Cinzel', sans-serif; font-size: 12px;
}

#quill h1 {
    color: aliceblue;
    font-size: 50px;

}

#quill p {
    color: red;
    font-size: 30px;

}

.button {

            background-color: Transparent;
            background-repeat:no-repeat;
            border: none;
            cursor:pointer;
            overflow: hidden;
    color: white;
    border: 1px solid white;

        }