body {
    font-family: 'Cinzel', sans-serif; font-size: 12px;

}

.clear-fix:after {
    content: '';
    display: block;
    clear: both;

}

header h1 {
    font-size: 2em;
    float: left;
    

}

header nav {
    float: right;
    margin-top: 10px;

}

header a {
    color: black;
    text-decoration: none; 
    margin-left: 15px;
}

#quill {
    background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9) 0%, rgba(20, 0, 0, 0.8) 100%), url('../images/Quill.jpg');
    padding: 250px 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;

}

#quill h2 {
    font-size: 50px;
    color: aliceblue;
    margin-bottom: 15px;
}

#quill p {
    margin-bottom: 15px;
    font-size: 25px;
    color: red;
    

}

#quill a {
    border: 3px solid white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    background-color: black;

}



#about-us div:first-child {
    float: left;
    text-align: center;
    width: 5%;
    height: 5%;
    padding: 150px 25px;

}

#second h3 {
    font-weight: 700;
    padding: 50px;
    font-style: italic;
    font-family: "Georgia", sans-serif;

}

#second p {
    padding: 25px;

}

#third {
    /*shorthand below:
    background: linear-gradient(to bottom, rgba(60, 20, 20, 0.9) 0%, rgba(60, 0, 0, 0.8) 100%), url('../imgs/wine-bg.jpg');
    padding: 250px 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;*/
    
     background: linear-gradient(to bottom, rgba(60, 20, 20, 0.9) 0%, rgba(60, 0, 0, 0.8) 100%), url('../imgs/wine13.jpg') no-repeat;
    padding: 150px 50px;
    background-size: cover;
    text-align: center;
    color: #fff;

}

#third h2 {
    font-weight: 700;
    font-style: italic;
    font-family: 'Georgia', serif;
    font-size: 3em;

}

#third p {
    font-size: 1.5em;
    margin-top: 50px;

}

.wine {
    text-align: center;
    float: left;
    width: 33%;
    background-color: aliceblue;

}

.wine img {
    width: 40%

}

.wine a {
    color: white;
    background-color: #669900;
    text-decoration: none;

}

